.tabAll {
    border: 1px solid black;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.titleTab {
    display: flex;
}

.titleItem {
    border: 1px solid black;
}

.titDate {
    min-width: 187px;
}

.nameProj {
    min-width: 170px;
}

.per15 {
    min-width: 18%;
}

.contentTab {
    display: flex;
    flex-direction: row;
}

.tabColumn {
    border: 1px solid black;
}

.tabRows {
    flex-grow: 1;
    display: flex;
    flex-direction: column;    
}

.tabInside {
    display:flex;
}


.itemTask {
    padding: 5px;
    max-width: 150px; 
}

.itemTime {
    padding: 5px;
    max-width: 150px; 
}

.itemPerc {
    padding: 5px;
    max-width: 70px; 
}


.padding {
    padding: 5px;
}